@inherits LayoutComponentBase

<TopNavigationMenu />

<div class="container-fluid">
    <div class="row">
        <SideNavigationMenu />

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
            @this.Body
        </main>
    </div>
</div>
