<ul>
    <li>
        <a href="/">
            <i class="fa fa-home"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="submenu open">
        <a href="#"><i class="fa fa-flask"></i> <span>Mails</span> <i class="arrow fa fa-chevron-right"></i></a>
        <ul>
            <li>
                <a href="/mails">New Address</a>
            </li>
            <li>
                <a href="/mails">Mails</a>
            </li>
        </ul>
    </li>
</ul>