@inherits LayoutComponentBase

<SideNavigationMenu />

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <TopNavigationMenu />
    <div class="container-fluid py-4">
        @this.Body

        <Footer />
    </div>
</main>