@inherits TopNavigationViewModel

<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-xs-3 col-md-3 col-lg-2 mr-0 px-4" href="/">
        LyraMail.de
    </a>

    @if (this.UserState?.CurrentMailbox != null)
    {
        <div class="input-group">
            <input type="text" style="height: 32px;" class="form-control form-control-sm form-control-dark email-textbox" @bind-value="this.UserState.CurrentMailbox" />
            <button @onclick="this.CopyEmail" role="button" type="button" class="btn btn-sm btn-outline-warning input-group-sm">
                <i class="far fa-copy"></i>
            </button>
        </div>
    }

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link d-none d-md-block" target="_blank" href="https://github.com/Lyra1337/TempMailServer">
                <i class="fab fa-github"></i>
                GitHub
                <i class="ml-1 fas fa-external-link-alt"></i>
            </a>
        </li>
    </ul>

    <button class="navbar-toggler position-absolute d-md-none collapsed"
            type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
