@page "/"
@inject Services.MailboxService mailbox

<h1>Mailbox</h1>

@if (mailbox != null)
{
    @foreach (var bla in mailbox.GetMails("jobs@example.com"))
    {
<pre>
@bla.Message
</pre>
        <br />
    }
}